.content.error
    aside.menu 
        a(href="./").logo
            img(src="./images/icon/logo.svg", alt="logo")
            span VEGAN
        .menu__wrap 
            ul 
                li 
                    a(href="#") Преимущества
                li 
                    a(href="#") ТЕХНОЛОГИЯ
                li 
                    a(href="#") сотрудничество
                li 
                    a(href="#") Ассортимент
                li 
                    a(href="#") блог
                li
                    a(href="#") Контакты
            a(href="#").shop
                img(src="./images/icon/basket.svg", alt="basket")
                span Интернет-магазин
    .content-text
        a(href="./")
            img(src="./images/icon/logo-big.svg", alt="logo")
        .error__wrap 
            img(src="./images/decor/404.png", alt="error")
            .error__popup 
                img(src="./images/decor/popup-big.png", alt="popup")
                span Ошибка 404: Упс, страница, которую Вы запрашиваете, не существует.
        a(href="#").back
            <svg width="21" height="28" viewBox="0 0 21 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M9.69969 2.06056V8.39904C9.69969 5.91384 13.4665 5.91384 13.4665 8.39904V10.8595C13.4665 8.3743 17.2332 8.3743 17.2332 10.8595V12.5371C17.2332 10.0518 21 10.052 21 12.5371V21.5505C21 24.4396 18.8783 28 13.945 28C6.59924 28 3.74374 20.7108 0.355217 15.308C-1.05563 13.0582 2.08834 10.8194 3.63151 12.9809L5.53567 15.6481V2.06056C5.53567 -0.686853 9.69969 -0.686853 9.69969 2.06056Z" fill="white"/>
            </svg>
            span Вернуться на главную
