.content.benefits
    aside.menu 
        a(href="./").logo
            img(src="./images/icon/logo.svg", alt="logo")
            span VEGAN
        .menu__wrap 
            ul 
                li.active 
                    a(href="#") Преимущества
                li 
                    a(href="#") ТЕХНОЛОГИЯ
                li 
                    a(href="#") сотрудничество
                li 
                    a(href="#") Ассортимент
                li 
                    a(href="#") блог
                li 
                    a(href="#") Контакты
            a(href="#").shop
                img(src="./images/icon/basket.svg", alt="basket")
                span Интернет-магазин
    .content-text
        h2 быть веганом просто
        p Жизнь кипит и нам некогда тратить часы на готовку. Каши «Скоро Готово» - отличное решение для тех, кто ценит свое время и здоровье.
        .benefits__wrap
            .benefits__item 
                .benefits__image 
                    img(src="./images/icon/item.svg", alt="item")
                    img(src="./images/icon/time.svg", alt="time")
                .benefits__text 
                    h3 БЫТЬ ВЕГАНОМ ПРОСТО
                    p Жизнь кипит и нам некогда тратить время на готовку. Каши "Скоро готово" отличное решение для тех, кто ценит свое время.
            .benefits__item
                .benefits__image 
                    img(src="./images/icon/item.svg", alt="item")
                    img(src="./images/icon/sup.svg", alt="sup")
                .benefits__text 
                    h3 ПОЛНОСТЬЮ ГОТОВО
                    p Полноценная еда без утомительнойготовки
            .benefits__item
                .benefits__image 
                    img(src="./images/icon/item.svg", alt="item")
                    img(src="./images/icon/list.svg", alt="list")
                .benefits__text
                    h3 ОТБОРНЫЕ ИНГРЕДИЕНТЫ
                    p Натуральные злаки, овощи с фермерских хозяйств Алтая и Сибири
            .benefits__item
                .benefits__image 
                    img(src="./images/icon/item.svg", alt="item")
                    img(src="./images/icon/apple.svg", alt="apple")
                .benefits__text
                    h3 100% <br>ВЕГАН
                    p Сбалансированный рацион без продуктов животного происхождения.
            .benefits__item
                .benefits__image 
                    img(src="./images/icon/item.svg", alt="item")
                    img(src="./images/icon/self.svg", alt="self")
                .benefits__text
                    h3 БЕРЕЖНАЯ ОБРАБОТКА
                    p Приготовление на пару, помогает сохранить свежесть без ущерба для качества готовых блюд.
            .benefits__item
                .benefits__image 
                    img(src="./images/icon/item.svg", alt="item")
                    img(src="./images/icon/hart.svg", alt="hart")
                .benefits__text
                    h3 РАЗРАБОТАНО ВЕГАНАМИ
                    p Разработана при участии специалистов по питанию и создана по всем правилам веган-кулинарии
            .benefits__item
                .benefits__image 
                    img(src="./images/icon/item.svg", alt="item")
                    img(src="./images/icon/paket.svg", alt="paket")
                .benefits__text
                    h3 РАЗНООБРАЗНЫЙ АССОРТИМЕНТ
                    p Каши, овощные супы-пюре, вторые блюда с бобовыми и овощными соусами дополнят ваш рацион здоровым продуктом.
            .benefits__item
                .benefits__image 
                    img(src="./images/icon/item.svg", alt="item")
                    img(src="./images/icon/bag.svg", alt="bag")
                .benefits__text
                    h3 ЕДА<br>С СОБОЙ
                    p Мягкая эргономичная упаковка рассчитана на одну порцию, поместитсяв любой сумке.
        .items__wrap 
            .items__content 
                .card 
                    .card__front
                        img(src="./images/decor/item-1.png", alt="item") 
                    .card__back
                        img(src="./images/decor/back.png", alt="back")
                        span Впереди долгая прогулка. Какой перекус взять с собой? Печенье, чипсы или бутерброды? Теперь у вас всегда есть полезный и удобный вариант еды «на ходу».
                h3 На прогулке
            .items__content 
                .card 
                    .card__front
                        img(src="./images/decor/item-2.png", alt="item") 
                    .card__back
                        img(src="./images/decor/back.png", alt="back")
                        span Правильный завтрак - настроение на весь день. Выбирая цельнозерновые каши «Здорово Готово», вы приготовите сытный и полезный завтрак за считанные минуты.
                h3 УТРЕННИЙ ЗАРЯД <br> ЭНЕРГИИ
            .items__content 
                .card 
                    .card__front
                        img(src="./images/decor/item-3.png", alt="item") 
                    .card__back
                        img(src="./images/decor/back.png", alt="back")
                        span Цельнозерновые каши – отличный источник клетчатки, витаминов и медленных углеводов. Такой обед не только вкусен, но и полезен для всех, следящих за здоровьем и фигурой.
                h3 ЗДОРОВЫЙ<br>ОБЕД
            .items__content 
                .card 
                    .card__front
                        img(src="./images/decor/item-4.png", alt="item") 
                    .card__back
                        img(src="./images/decor/back.png", alt="back")
                        span Что съесть перед легкой аэробной или после интенсивной силовой? Тренер одобрит ваш выбор! Каши «Здорово готово» - готовое решение для активной жизни!
                h3 для<br>ТРЕНИРОВКИ
            .items__content 
                .card 
                    .card__front
                        img(src="./images/decor/item-5.png", alt="item") 
                    .card__back
                        img(src="./images/decor/back.png", alt="back")
                        span Хочется быстро съесть что-нибудь вкусное – срочно отложите шоколадный батончик. Теперь у вас есть вкусный и полезный перекус, способный утолить голод без ощущения тяжести.
                h3 ПЕРЕКУС<br>ИЛИ ЛЕГКИЙ УЖИН
            .items__content 
                .card 
                    .card__front
                        img(src="./images/decor/item-6.png", alt="item") 
                    .card__back
                        img(src="./images/decor/back.png", alt="back")
                        span Дачный отдых станет еще полезнее! Оставаться здоровыми и полными сил вам помогут каши «Здорово готово». По вкусу можно добавить ягоды, фрукты или зелень из вашего сада.
                h3 на даче
            .items__content 
                .card 
                    .card__front
                        img(src="./images/decor/item-7.png", alt="item") 
                    .card__back
                        img(src="./images/decor/back.png", alt="back")
                        span Дачный отдых станет еще полезнее! Оставаться здоровыми и полными сил вам помогут каши «Здорово готово». По вкусу можно добавить ягоды, фрукты или зелень из вашего сада.
                h3 в поездке