.content.blog
    aside.menu 
        a(href="./").logo
            img(src="./images/icon/logo.svg", alt="logo")
            span VEGAN
        .menu__wrap 
            ul 
                li 
                    a(href="#") Преимущества
                li 
                    a(href="#") ТЕХНОЛОГИЯ
                li 
                    a(href="#") сотрудничество
                li 
                    a(href="#") Ассортимент
                li.active
                    a(href="#") блог
                li
                    a(href="#") Контакты
            a(href="#").shop
                img(src="./images/icon/basket.svg", alt="basket")
                span Интернет-магазин
    .content-text
        .blog__title 
            img(src="./images/decor/title-blog.png", alt="title")
            .blog__title_text 
                img(src="./images/decor/popup-blog.png", alt="popup")
                span Полезные статьи каждую неделю. Подпишись!
        h2 блог о здоровом<br> питании
        .blog-form
            form(action="#")
                input(type="text", placeholder="Ваше e-mail")
                button(type="submit")
                    <svg width="17" height="23" viewBox="0 0 17 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M7.85213 1.6926V6.89921C7.85213 4.8578 10.9014 4.8578 10.9014 6.89921V8.9203C10.9014 6.87889 13.9507 6.87889 13.9507 8.9203V10.2984C13.9507 8.25686 17 8.25702 17 10.2984V17.7022C17 20.0754 15.2825 23 11.2888 23C5.34224 23 3.03064 17.0125 0.287556 12.5744C-0.854557 10.7264 1.69056 8.88737 2.93979 10.6629L4.48126 12.8538V1.6926C4.48126 -0.564201 7.85213 -0.564201 7.85213 1.6926Z" fill="white"/>
                    </svg>
                    span подписаться
        .blog__wrap
            .blog__item
                .blog__image 
                    img(src="./images/decor/blog-1.jpg", alt="blog")
                .blog__text 
                    a(href="#") Каши – основа рациона здорового питания
                    p В ежедневном рационе правильного и здорового питания обязательно должны присутствовать крупы, ведь именно они делают его таким полезным, сбалансированным и полноценным.
            .blog__item
                .blog__image 
                    img(src="./images/decor/blog-2.jpg", alt="blog")
                .blog__text
                    a(href="#") Что съесть перед<br> тренировкой?
                    p Доказано, что умеренные и тем более интенсивные занятия спортом на пустой желудок не только не полезны, а даже вредны. Что же съесть перед тренировкой, чтобы повысить физическую работоспособность?
            .blog__item
                .blog__image
                    img(src="./images/decor/blog-3.jpg", alt="blog")
                .blog__text
                    a(href="#") Полезные завтраки и перекусы
                    p Есть каши советовали еще наши бабушки, и этот совет актуален до сих пор. Ведь пользу этого блюда для детей и взрослых сложно переоценить. Не быстрые хлопья, с огромным содержанием сахара и жиров, а именно домашние каши, приготовленные с любовью и для пользы здоровью.
            .blog__item
                .blog__image
                    img(src="./images/decor/blog-4.jpg", alt="blog")
                .blog__text
                    a(href="#") Каши – правильный завтрак
                    p Основу пирамиды правильного питания составляют злаки. Поэтому заботливые и практичные хозяйки стремятся включить каши в рацион питания своей семьи, чтобы сделать его полезным и разнообразным. С готовыми кашами ТМ «Здорово Готово» это проще простого!
