.content.form-wrap
    aside.menu 
        a(href="./").logo
            img(src="./images/icon/logo.svg", alt="logo")
            span VEGAN
        .menu__wrap 
            ul 
                li 
                    a(href="#") Преимущества
                li 
                    a(href="#") ТЕХНОЛОГИЯ
                li 
                    a(href="#") сотрудничество
                li 
                    a(href="#") Ассортимент
                li 
                    a(href="#") блог
                li.active 
                    a(href="#") Контакты
            a(href="#").shop
                img(src="./images/icon/basket.svg", alt="basket")
                span Интернет-магазин
    .content-text
        h2 Напишите нам
        p И мы ответим на любые ваши вопросы связанные с нашей продукцией
        .form__wrap
            form(action="#")
                input(type="text", placeholder="Ваше имя")
                input(type="text", placeholder="Ваш e-mail")
                textarea(name="text", cols="30", rows="10", placeholder="Ваш вопрос")
                button(type="submit") 
                    <svg width="19" height="17" viewBox="0 0 19 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0.232422 7.52229L9.23243 0L18.2324 7.52229L15.8656 10.5282L11.1141 6.55693V17H7.35074V6.55693L2.59925 10.5282L0.232422 7.52229Z" fill="white"/>
                    </svg>
                    span Отправить
                span Передавая информацию сайту вы принимаете условия 
                    a(href="#") Политики защиты персональной информации
        .person 
            img(src="./images/decor/luka.png", alt="luka")
            .person__popup 
                img(src="./images/decor/popup.png", alt="popup")
                span Мы всегда рады узнать ваше мнение!
