section.doctor-slider.container
    .doctor-slider__slider 
        .doctor-slider__slide 
            a(href="#")
                .doctor__image 
                    img(src="./images/decor/doctor-1.jpg", alt="doctor")
                .doctor__text 
                    h4 Ортопел
                    p Кашина (Печеницына) Екатерина Владимировна
        .doctor-slider__slide 
            a(href="#")
                .doctor__image 
                    img(src="./images/decor/doctor-2.jpg", alt="doctor")
                .doctor__text
                    h4 Гигиенист
                    p Салимова Елена Васильевна
        .doctor-slider__slide 
            a(href="#")
                .doctor__image
                    img(src="./images/decor/doctor-3.jpg", alt="doctor")
                .doctor__text
                    h4 Cтоматолог
                    p Кундель Ольга Витальевна
        .doctor-slider__slide 
            a(href="#")
                .doctor__image
                    img(src="./images/decor/doctor-4.jpg", alt="doctor")
                .doctor__text
                    h4 Cтоматолог
                    p Чопурова Айтан Гизирхановна
        .doctor-slider__slide 
            a(href="#")
                .doctor__image
                    img(src="./images/decor/doctor-3.jpg", alt="doctor")
                .doctor__text
                    h4 Cтоматолог
                    p Кундель Ольга Витальевна
    .doctor-slider__text 
        p В нашей клинике работают 
            a(href="#") лучшие врачи. 
            | Мы решим любую задачу комплексно и в срок. Обращайтесь - будем только рады!
        a(href="#").doctor-slider__btn Смотреть всех