.content.items
    aside.menu 
        a(href="./").logo
            img(src="./images/icon/logo.svg", alt="logo")
            span VEGAN
        .menu__wrap 
            ul 
                li 
                    a(href="#") Преимущества
                li 
                    a(href="#") ТЕХНОЛОГИЯ
                li 
                    a(href="#") сотрудничество
                li.active
                    a(href="#") Ассортимент
                li
                    a(href="#") блог
                li
                    a(href="#") Контакты
            a(href="#").shop
                img(src="./images/icon/basket.svg", alt="basket")
                span Интернет-магазин
    .content-text
        h2 ПОЛЕЗНЫЕ ЦЕЛЬНОЗЕРНОВЫЕ КАШИ НА ЛЮБОЙ ВКУС
        p Ассортимент «Скоро Готово» включает уникальные многозерновые каши из цельных злаков, молочные, мясные и вегетарианские каши, а также вкусные питьевые бульоны, чтобы каждый смог найти блюдо, которое соответствует его вкусу и образу жизни.
        .video 
            img(src="./images/decor/video.png", alt="video")
            a(href="#") 
                span Видео - инструкция по приготовлению. 
                <svg width="24" height="28" viewBox="0 0 24 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M22.5 11.4929C24.5 12.6476 24.5 15.5344 22.5 16.6891L4.49999 27.0814C2.49999 28.2361 -1.34201e-06 26.7927 -1.24107e-06 24.4833L-3.32543e-07 3.69869C-2.31596e-07 1.38929 2.5 -0.0540792 4.5 1.10062L22.5 11.4929Z" fill="white"/>
                </svg>
        .items__choose
            span Выберите категорию
            form
                .select
                    <input class="select__input" type="hidden" name="">
                    <div class="select__head">каши С молоком</div>
                    ul.select__list
                        li.select__item каши С молоком
                        li.select__item каши
                        li.select__item каши цельнозерновые
        .items__wrap 
            .items__item 
                img(src="./images/decor/product-1.png", alt="product")
                a(href="#") каша овсяная цельнозерновая 
            .items__item
                img(src="./images/decor/product-2.png", alt="product")
                a(href="#") каша 5 злаков с цельным зерном
            .items__item
                img(src="./images/decor/product-3.png", alt="product")
                a(href="#") каша 7 злаков с цельным зерном
            .items__item
                img(src="./images/decor/product-4.png", alt="product")
                a(href="#") каша тыквенная 
            .items__item
                img(src="./images/decor/product-5.png", alt="product")
                a(href="#") каша пшеничная с цельным зерном