.content.partners
    aside.menu 
        a(href="./").logo
            img(src="./images/icon/logo.svg", alt="logo")
            span VEGAN
        .menu__wrap 
            ul 
                li 
                    a(href="#") Преимущества
                li 
                    a(href="#") ТЕХНОЛОГИЯ
                li.active 
                    a(href="#") сотрудничество
                li 
                    a(href="#") Ассортимент
                li 
                    a(href="#") блог
                li 
                    a(href="#") Контакты
            a(href="#").shop
                img(src="./images/icon/basket.svg", alt="basket")
                span Интернет-магазин
    .content-text
        h2 сотрудничество
        .partners__wrap
            .partners__text 
                .partners__item 
                    h3 Полностью готовое блюдо
                    p Инновационный продукт, полностью готовый к употреблению, без консервантови красителей, удобный для питания дома и перекуса в офисе или поездке.
                .partners__item
                    h3 Технология производства
                    p Благодаря уникальной технологии бережной обработки паром и давлениемс последующим ускоренным охлаждением, блюда остаются свежими и сохраняют полезные свойства. 
                .partners__item
                    h3 Высокотехнологичная упаковка
                    p Многослойная металлизированная упаковка выдерживает высокую температуру стерилизации на пару, позволяет обойтись без консервантов и других искусственных добавок, сохраняет вкус и свежесть, обеспечивает удобство при транспортировке и хранении.
            .partners__image 
                img(src="./images/decor/partners.png", alt="partners")
            .partners__text 
                .partners__item
                    h3 Широкий ассортимент продукции
                    p Каши приготовлены с использованием цельного зерна и круп, мясные и зерновые, с молоком или вегетарианские. Питьевые мясные бульоны приготовлены на основе говядины и мяса птицы, с добавлением овощей и специй. 
                .partners__item
                    h3 100%  уровень исполнения заказов
                    p Отлаженные системы приема заказов и логистики, грамотное управление складскими запасами обеспечивают поставки продукции в полном объеме и точно в срок.
                .partners__item
                    h3 Разработка собственных торговых марок
                    p Собственное производство обеспечивает возможность разработки торговых марок по индивидуальным заказам, создавать продукцию, отвечающую всем пожеланиям заказчиков, востребованную на рынке и неизменно любимую покупателями.
        a(href="#").send
            <svg width="21" height="28" viewBox="0 0 21 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M9.69969 2.06056V8.39904C9.69969 5.91384 13.4665 5.91384 13.4665 8.39904V10.8595C13.4665 8.3743 17.2332 8.3743 17.2332 10.8595V12.5371C17.2332 10.0518 21 10.052 21 12.5371V21.5505C21 24.4396 18.8783 28 13.945 28C6.59924 28 3.74374 20.7108 0.355217 15.308C-1.05563 13.0582 2.08834 10.8194 3.63151 12.9809L5.53567 15.6481V2.06056C5.53567 -0.686853 9.69969 -0.686853 9.69969 2.06056Z" fill="white"/>
            </svg>
            span отправить запрос
.popup 
    .popup__wrap 
        p Для начала сотрудничества заполните форму ниже и мы свами свяжемся
        a(href="#0").popup__clouse
            <svg width="31" height="31" viewBox="0 0 31 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect x="3.64453" width="38.6484" height="5.15312" transform="rotate(45 3.64453 0)" fill="#4FAC25"/>
                <rect width="38.6484" height="5.15312" transform="matrix(-0.707107 0.707107 0.707107 0.707107 27.3555 0)" fill="#4FAC25"/>
            </svg>
        form(action="#")
            input(type="text", placeholder="Ваше имя")
            input(type="text", placeholder="Ваш e-mail")
            input(type="text", placeholder="Ваш телефон")
            textarea(name="text", cols="30", rows="10", placeholder="Ваше сообщение")
            button(type="submit")
                <svg width="19" height="17" viewBox="0 0 19 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0.232422 7.52229L9.23243 0L18.2324 7.52229L15.8656 10.5282L11.1141 6.55693V17H7.35074V6.55693L2.59925 10.5282L0.232422 7.52229Z" fill="white"/>
                </svg>
                span Отправить
            span Передавая информацию сайту вы принимаете условия 
                a(href="#") Политики защиты персональной информации