.content.partners
    aside.menu 
        a(href="./").logo
            img(src="./images/icon/logo.svg", alt="logo")
            span VEGAN
        .menu__wrap 
            ul 
                li 
                    a(href="#") Преимущества
                li 
                    a(href="#") ТЕХНОЛОГИЯ
                li.active 
                    a(href="#") сотрудничество
                li 
                    a(href="#") Ассортимент
                li 
                    a(href="#") блог
                li 
                    a(href="#") Контакты
            a(href="#").shop
                img(src="./images/icon/basket.svg", alt="basket")
                span Интернет-магазин
    .content-text
        h2 Политика конфеденциальности
        .text 
            p 
                span В 
                | ежедневном рационе правильного и здорового питания обязательно должны присутствовать крупы, ведь именно они делаютего таким полезным, сбалансированным и полноценным.
            p 
                span Е
                | сли вы решили сесть на диету, исключать каши из рациона тем более нельзя – в их составе не только так нужные вам в этот период «медленные углеводы», но и полезные, хорошо усваиваемые белки. К тому же это не только полезно, но и действительно очень вкусно.
            p 
                span К
                | аши от Торговой Марки «ЗдоровоГотово» - это легкий и полезный продукт, созданный специально для тех, кто следит за своим здоровьем и старается придерживаться правильного питания, сбалансированного рациона продуктов.
            p 
                span К
                | аша прекрасный источник клетчатки, а ведь клетчатка славится своей способностью выводить из организма шлаки и токсины,а также контролировать усвоение жиров из съеденных за день продуктов. Содержащиеся в кашах пищевые волокна способствуют очищению кишечника и оздоровлению всего организма. А полезные витамины (особенно группы В) и минеральные вещества помогают нам лучше справляться с нагрузками, укрепляют иммунитет и улучшают самочувствие.
            p 
                span У
                | деляйте время себе и своему здоровью, а не приготовлению – все каши уже приготовлены, вам остается только разогреть.Без консервантов и химических добавок, только из натуральных продуктов – каши ТМ «ЗдоровоГотово» помогут вам оставаться здоровыми и полными сил!
        a(href="#").back
            <svg width="21" height="28" viewBox="0 0 21 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M9.69969 2.06056V8.39904C9.69969 5.91384 13.4665 5.91384 13.4665 8.39904V10.8595C13.4665 8.3743 17.2332 8.3743 17.2332 10.8595V12.5371C17.2332 10.0518 21 10.052 21 12.5371V21.5505C21 24.4396 18.8783 28 13.945 28C6.59924 28 3.74374 20.7108 0.355217 15.308C-1.05563 13.0582 2.08834 10.8194 3.63151 12.9809L5.53567 15.6481V2.06056C5.53567 -0.686853 9.69969 -0.686853 9.69969 2.06056Z" fill="white"/>
            </svg>
            span Вернуться назад