.content.items
    aside.menu 
        a(href="./").logo
            img(src="./images/icon/logo.svg", alt="logo")
            span VEGAN
        .menu__wrap 
            ul 
                li 
                    a(href="#") Преимущества
                li 
                    a(href="#") ТЕХНОЛОГИЯ
                li 
                    a(href="#") сотрудничество
                li.active
                    a(href="#") Ассортимент
                li
                    a(href="#") блог
                li
                    a(href="#") Контакты
            a(href="#").shop
                img(src="./images/icon/basket.svg", alt="basket")
                span Интернет-магазин
    .content-text
        h2 Каша овсяная цельнозерновая
        p Питательная овсяная каша из цельного зерна – это превосходный источник полезных медленных углеводов, энергии от которых хватит на целый день.
        .product__info 
            .product__slider 
                .product__slider_big
                    .product__slide
                        img(src="./images/decor/pruduct-big.png", alt="pruduct")
                    .product__slide
                        img(src="./images/decor/pruduct-big.png", alt="pruduct")
                    .product__slide
                        img(src="./images/decor/pruduct-big.png", alt="pruduct")
                .product__slider_small
                    .product__slide
                        .product__image
                            img(src="./images/decor/pruduct-big.png", alt="pruduct")
                    .product__slide
                        .product__image
                            img(src="./images/decor/pruduct-big.png", alt="pruduct")
                    .product__slide
                        .product__image
                            img(src="./images/decor/pruduct-big.png", alt="pruduct")
            .product__info_text
                .product__info_blue
                    .product__row 
                        h4 Состав:
                        p вода, овес, цельное сухое молоко и соль.
                    .product__row
                        h4 Пищевая ценность:
                        p белки – 3,5 г; жиры – 3 г; углеводы 5,5 г
                    .product__row
                        h4 Энергетическая ценность:
                        p 60 ккал
                    .product__row
                        h4 Масса нетто:
                        p 200 грамм
                .product__info_green 
                    h3 Полезные свойства:
                    .product__info_vit
                        .product__block 
                            img(src="./images/icon/block-1.svg", alt="block")
                            span Витамины группы В для нервной системы
                        .product__block
                            img(src="./images/icon/block-2.svg", alt="block")
                            span Фосфор для работы мозга
                        .product__block
                            img(src="./images/icon/block-3.svg", alt="block")
                            span Калий для сердца
                        .product__block
                            img(src="./images/icon/block-4.svg", alt="block")
                            span Магний для борьбы со стрессом
                        .product__block
                            img(src="./images/icon/block-5.svg", alt="block")
                            span Клетчатка для хорошего пищеварени
        .product__wrap 
            h3 рекомендации от шеф повара:
            <iframe width="636" height="356" src="https://www.youtube.com/embed/ydWxn0OHi60" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            .product__text
                h3 ИНГРЕДИЕНТЫ:
                p Картофель	3−4 шт
                p Сыр	100 гр
                p Майонез ЛУ·КА Сливочный	4 ст. л.
                p Соль, перец, тимьян — по вкусу
            ol 
                li Картофель очистить, хорошо промыть и нарезать тонкими пластиками.
                li Сыр натереть на терке, все ингредиенты смешать и выложить в форму для запекания.
                li Накрыть фольгой и выпекать в разогретом до 180ºС духовом шкафу в течении 30 минут. Снять крышку или фольгу и допечь еще в течении 10 минут.	