.content.slider
    aside.menu 
        a(href="./").logo
            img(src="./images/icon/logo.svg", alt="logo")
            span VEGAN
        .menu__wrap 
            ul 
                li 
                    a(href="#") Преимущества
                li.active 
                    a(href="#") ТЕХНОЛОГИЯ
                li 
                    a(href="#") сотрудничество
                li 
                    a(href="#") Ассортимент
                li 
                    a(href="#") блог
                li 
                    a(href="#") Контакты
            a(href="#").shop
                img(src="./images/icon/basket.svg", alt="basket")
                span Интернет-магазин
    .content-text
        h2 УНИКАЛЬНАЯ ТЕХНОЛОГИЯ 
        p Как лучшие ингредиенты становятся полезными и удобными продуктами, которые ценят покупатели? Посмотрите, как мы создаем для вас готовые блюда под маркой «Скоро Готово».
        .slider-block
            .slider__wrap 
                .slider__slide 
                    .slider__text.text-1 
                        span ШАГ 1
                        h3 Отборные ингредиенты
                        p Мы сотрудничаем с лучшими Сибирскими и Алтайскими производителями зерна, овощей и мяса, выбирая только самые качественные ингредиенты для наших продуктов.
                    .slider__image
                        img(src="./images/decor/slide-1.jpg", alt="slide")
                .slider__slide 
                    .slider__text.text-2 
                        span ШАГ 2
                        h3 Готовим как дома
                        p Наш бренд-шеф вместе с технологами и диетологами создают рецепты вкусных и полезных блюд, богатых витаминами и минералами, используя только натуральные продукты.
                    .slider__image
                        img(src="./images/decor/slide-2.jpg", alt="slide")
                .slider__slide 
                    .slider__text.text-3 
                        span ШАГ 3
                        h3 Инновационная упаковка
                        p Современная многослойная металлизированная упаковка легко выдерживает высокую температуру приготовления на пару, сохраняет первозданный вкус продуктов и позволяет полностью отказаться от использования консервантов и других добавок.
                    .slider__image
                        img(src="./images/decor/slide-3.jpg", alt="slide")
                .slider__slide 
                    .slider__text.text-4 
                        span ШАГ 4
                        h3 Технологии свежести
                        p Благодаря современной технологии бережной термической обработки: моментальный нагрев до высоких температур и быстрое охлаждение, готовые блюда «Скоро Готово» остаются свежими и безопасными надолго. 
                    .slider__image
                        img(src="./images/decor/slide-4.jpg", alt="slide")
                .slider__slide 
                    .slider__text.text-5
                        span ШАГ 5
                        h3 Красиво и удобно
                        p На нашей упаковке вы найдете много полезной информации: честный состав, полезные свойства, содержание витаминов. Мы создали для вас стильный и современный продукт, который удобно и быстро готовить и приятно взять с собой для перекуса.
                    .slider__image
                        img(src="./images/decor/slide-5.jpg", alt="slide")